package="%n"
version="1.0.0000"
maintainer="optimistiCli"
arch="x86 bromolow cedarview avoton braswell broadwell dockerx64 kvmx64 grantley"
description="Creates system internal user named %u and a group named %g. The UID/GID will be chosen randomly in the 100000 ~ 300000 range. New user and group are created during the package installation hence this package should be uninstalled right away. The user and the group can be later removed with synouser / synogroup command line utilities."
displayname="UID/GID Maker - %u:%g%"
extractsize=128
toolkit_version=15047
create_time="%d"
